.standard {
  position: relative;
  left: 50px;
  top: 20px;
}

.FixedHeightContainer{
  position: relative;
  left: 50px;
  top: 20px;
  height: 250px;
  width:600px;
  padding:3px;
}

.Title{
  border: 3px solid black;
}

.headerContainer{
  border: 3px solid black;
}

.content{
  border: 3px solid black;
  height:550px;
  overflow:auto;
}

#userMap{
  position: relative;
  float: right;
  width: 900px;
  margin: 6px;
  height: 400px;
  border: 7px solid green;
}

.selectedMap {
  position: relative;
  float: right;
  bottom: 200px;
  width: 900px;
  margin: 6px;
  height: 400px;
  border: 7px solid green;
}
